{{define "scripts"}}{{end}}
{{define "body"}}
{{if eq (len .Ssids) 0}}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  We were unable to automatically found available Wi-Fi networks to connect to. Please, fill out the form below out. 
</div>
<form method="post" action="/save">
  {{if eq (len .Ssids) 0}}
    <input type="text" name="ssid" placeholder="enter Wi-Fi SSID" required>
  {{else}}
    <select name="ssid" required>
      <option value="">--Please choose an option--</option>
      {{range .Ssids}}
        <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
  {{end}}
  <input type="password" name="password" placeholder="Enter password" required>
  <input type="hidden" name="_method" value="PUT">
  <button id="submit" type="submit" onclick="submitForm()">Save</button>
</form>
{{end}}